body {
    margin: 0px;
    padding: 0px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}


.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-20 {
    font-size: 20px;
}

.fs-32 {
    font-size: 32px;
}

.fs-33 {
    font-size: 33px;
}

.fs-34 {
    font-size: 34px;
}

.bg-white {
    background-color: white;
}

.c-lightblue {
    color: #03a9f4;
}

.c-grayblue {
    color: #323538;
}

.c-lightgray {
    color: #656a70;
}

.c-white {
    color: white;
}

.c-orange {
    color: #f75e2e;
}

.c-yellow {
    color: #ecfa4d;
}

.hght-80px {
    height: 80px;
}

.hght-130{
    height: 130px;
}

.mt-100 {
    margin-top: 100px;
}

.btn-signin {
    width: 100px;
    height: 40px;
    margin-left: 10px;
}

.main-section {
    background-image: url(../images/main/city-bg.png);
    height: 600px;
}

.girl-img {
    z-index: 1;
    transform: translateY(70px);
    margin-left: auto;
    margin-right: 60px;
}

.hidden {
    display: none;
}

.main-form {
    transform: translateY(50px);
}

.form {
    height: 100px;
}

.form-continue {
    width: 200px;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
}

.welcome-section {
    height: 600px;
}

.place-an-order {
    width: 220px;
    height: 50px;
    margin-top: 50px;
}

.selector {
    width: 200px;
    height: 50px;
    font-size: 12px;
}

.welcome-text {
    display: flex;
    width: 100%;
    margin-top: 100px;
    justify-content: flex-end;
}

.adv-section {
    height: 600px;
    background-image: url(../images/main/adv-bg.png);
}

.btn-continue {
    width: 200px;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
}

.block {
    width: 360px;
    height: 310px;
    background-color: #fff;
}

.how-it-works {
    height: 600px;
}

.adv-img {
    z-index: 1;
    width: 85px;
    height: 85px;
    margin-left: 40%;
    background-image: url(../images/main/adv-Ellipse.png);
}

.hiw-block {
    width: 260px;
    height: 350px;
}

.ds-section {
    height: 550px;
    background-image: url(../images/main/ds-bg.png);
}

.dc-block {
    height: 485px;
    width: 1000px;
}

.dc-text {
    width: 600px;
}

.dc-off {
    width: 400px;
}

.dc-off-image {
    margin-left: 30px;
    margin-top: 15px;
}

.dc-ds-block {
    width: 50%;
}

.feedbacks {
    margin-top: 200px;
    height: 600px;
}

footer {
    height: 520px;
}

hr {
    margin: 0px;
    color: white;
}